/* COLORS */
$white: #ffffff;
$black: #000000;
$yellow: #fde557;
$purple: #e5248a;
$corall: #ff776f;
$green: #73b63c;
$orange: #f7ab32;
$blue: #4bbdd5;
$lightblue: #89bfe7;
$lightgreen: #8ac361;
$dark-gray: #2e2e2e;
$light-gray: #b3b3b3;
$brown: #4f4a37;
$light-brown: #d8bb90;
$dark-brown: #291d19;
$iconColor: #ff003c;
$accent: #c648c8;
$grape: #7b00e0;
$orchid: #ae31d9;

$timing: 265ms;