header.header
    .header-wrapper
        .header-wrapper__left
            h1.header-title
                | Valentina Laikovskaya 
                br
                span.header-title__span PHOTOGRAPHY
        .header-wrapper__right
            nav.nav
                ul.nav-list#nav
                    li.nav-list__item 
                        a.nav-list__link(href="portfolio.html") Portfolio
                    li.nav-list__item 
                        a.nav-list__link.scroll-to(href="#about") About
                    li.nav-list__item 
                        a.nav-list__link.scroll-to(href="#contacts") Contacts