header.header
    .header-wrapper
        .header-wrapper__left
            h1.header-title
                | Valentina Laikovskaya 
                br
                span.header-title__span PHOTOGRAPHY
        .header-wrapper__right
            nav.nav
                ul.nav-list
                    li.nav-list__item 
                        a.nav-list__link(href="portfolio.html" target="_blank") Portfolio
                    li.nav-list__item 
                        a.nav-list__link(href="") About
                    li.nav-list__item 
                        a.nav-list__link(href="") Contacts