.nature-header{    
    background-image: url(../img/page-nature/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;  
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    height: 100vh;    
}
.nature-header__title{
    background: #ffb5b6; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb5b6 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb5b6 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb5b6 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb5b6', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    color: transparent;
    font-family: 'raleway_black';
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 20px;
    font-size: 170px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 90vh);
}
.one{
    grid-column-start: 1;
    grid-column-end: 3; 
    background-image: url(../img/page-nature/2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
}
.two{
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url(../img/page-nature/3.webp);
    background-repeat: no-repeat;
    background-size: 120% 120%;
    background-position: center center;
    transition: all linear 1s;

    &:hover{
        background-size: 100% 100%;
    }
}
.three{
    grid-column-start: 1;
    grid-column-end: 2; 
    overflow: hidden;  
}
.overlay{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
    transition: all linear 1s;

    &_three{
        background-image: url(../img/page-nature/6.webp);   
    }
    &_four{
        background-image: url(../img/page-nature/4.webp);   
    }
    &_five{
        background-image: url(../img/page-nature/5.webp);   
    }
    &_six{
        background-image: url(../img/page-nature/7.webp);   
    }
    &_fifteen{
        background-image: url(../img/page-nature/7.webp);   
    }

    &:hover{
        @include transformScale($size: 1.2);
    }
}
.overlay-back{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
    transition: all linear 1s;

    &_seven{
        background-image: url(../img/page-nature/11.webp);
        transform: scale(1.2) translateY(-8%); 

        &:hover{
            transform: translateY(0%);
        }
    }
}
.four{
    grid-column-start: 2;
    grid-column-end: 3; 
    overflow: hidden;  
}
.five{
    grid-column-start: 3;
    grid-column-end: 4;   
    overflow: hidden; 
}
.six{
    grid-column-start: 4;
    grid-column-end: 5;
    overflow: hidden; 
}
.seven{
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden; 
}
.eight{
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url(../img/page-nature/10.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
}
.nine{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(../img/page-nature/21.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;   
}
.nine__wrapper{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    transition: all linear 1s;
    height: 100%;

    &_flowers{
        align-items: flex-end;
        padding-bottom: 50px;
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0.4); 

        .nine-insects__link{
            opacity: 1;
        }
    }
}
.nine-insects{
   text-align: left;
   color: $white;
   font-family: 'raleway_thin';
}
.nine-insects__title{
    margin-bottom: 10px;
    font-size: 40px;
}
.nine-insects__subtitle{
    margin-bottom: 10px;
    font-size: 30px;
}
.nine-insects__link{
    opacity: 0;
    color: $white;
    font-size: 20px;
    font-family: 'raleway_regular';
    transition: all linear 1s;
}
.ten{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
.owl-dots{
    display: none;
}
.eleven{
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url(../img/page-nature/18.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;   
}
.owl-carousel .owl-item img{
    height: 95vh;
    object-fit: cover;
}
.twelve{
    grid-column-start: 2;
    grid-column-end: 5;
    background-image: url(../img/page-nature/22.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;   
}
.thirteen{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 10;
    background-image: url(../img/page-nature/20.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;   
}
.grid-wrap{
    transition: all linear 1s;
    height: 100%;

    &:hover{
        background-color: rgba(0, 0, 0, 0.4); 
    }
}
.fourteen{
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(../img/page-nature/8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;   
}
.fiveteen{
    grid-column-start: 4;
    grid-column-end: 5;   
    overflow: hidden;      
}
.overlay-wrap{
    @include transformScale($size: 1.2);
    height: 100%;
    transition: all linear 1s;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &_fiveteen{
        background-image: url(../img/page-nature/17.webp);
    }
    &_sixteen{
        background-image: url(../img/page-nature/19.webp);
    }
    &_nineteen{
        background-image: url(../img/page-nature/24.webp);
    }
        
    &:hover{
        @include transformScale($size: 1);
    }
}
.sixteen{
    grid-column-start: 2;
    grid-column-end: 3; 
    overflow: hidden;     
}
.seventeen{
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url(../img/page-nature/16.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.eighteen{
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(../img/page-nature/23.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nineteen{
    grid-column-start: 4;
    grid-column-end: 5;
    overflow: hidden;
}
.twenty{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(../img/page-nature/25.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

