section.nature-header
    h2.nature-header__title Nature.
    include ../../components/arrow-down/arrow-down.pug
section.grid.grid__nature
    .grid-block.one 
    .grid-block.two 
    .grid-block.three 
        .overlay.overlay_three
    .grid-block.four 
        .overlay.overlay_four
    .grid-block.five 
        .overlay.overlay_five
    .grid-block.six 
        .overlay.overlay_six
    .grid-block.seven 
        .overlay-back.overlay-back_seven
    .grid-block.eight 
        .overlay-back.overlay-back_eight
    .grid-block.nine 
    .grid-block.ten 
    .grid-block.eleven 
    .grid-block.twelve 
    .grid-block.thirteen 
    .grid-block.fourteen 
    .grid-block.fiveteen 
    .grid-block.sixteen 
    .grid-block.seventeen 
    .grid-block.eighteen 
    .grid-block.nineteen 
    .grid-block.twenty 