extends ../layouts/default

block variables
	- const title = "Nature";

block content
	include ../../blocks/modules/nature-block/nature-block.pug
	include ../../blocks/modules/footer/footer.pug

block scripts