extends ../layouts/default

block variables
	- const title = "Portfolio";

block content
	include ../../blocks/modules/portfolio-block/portfolio-block.pug
	include ../../blocks/modules/footer/footer.pug