section.about#about
    .about-wrapper
        .about-title
            h2.about-title__header About 
                br.about-title__br
                |me.
        .about-info
            h3.about-info__header My Name Is Valentina Laikovskaya And I Am A Nature Photographer
            p.about-info__text 
            |  Valentina Laikovskaya is a nature photographer based in Santa Monica, California. Robert’s focus is single physical beings, such as an animal or a flower. Because each photo is of one single item, the visual focus is the item’s composition. His photographs of animals center around the materials colors, and textures that the animal is composed of. Photographs of flowers emphasize their physical structure, colors, and positioning. Robert travels around the world to specific countries whose ecosystems he wants to explore and photograph.