section.contacts#contacts
    .contacts-wrapper
        .contacts-info
            h3.contacts-info__header Write me
            .contacts-info__icons
                ul.social-icons
                    li.social-icons__item
                        a(href='https://www.instagram.com/nod.eset' target="_blank").icons-link.icons-link_round
                            i.fa.fa-instagram 
                    li.social-icons__item
                        a(href='https://vk.com/id13401205' target="_blank").icons-link.icons-link_round
                            i.fa.fa-vk  
                    li.social-icons__item
                        a(href='https://www.linkedin.com/in/estydaven/' target="_blank").icons-link.icons-link_round
                            i.fa.fa-linkedin    
                    li.social-icons__item
                        a(href='https://www.facebook.com/eset.nod.927/' target="_blank").icons-link.icons-link_round
                            i.fa.fa-facebook    
                ul.social-icons.social-icons_contact                      
                    li.social-icons__item.social-icons__item_contacts
                        a.social-square(href='#').icons-link
                            i.fa.fa-envelope
                        p.social-text esetnod1111@gmail.com  
                    li.social-icons__item.social-icons__item_contacts
                        a.social-square(href='https://github.com/estydaven').icons-link
                            i.fa.fa-github
                        p.social-text My another projects on Github   
                    li.social-icons__item.social-icons__item_contacts
                        a.social-square(href='#').icons-link
                            i.fa.fa-map  
                        p.social-text Republic of Belarus, Grodno             
        .contacts-title
            h2.contacts-title__header Get In 
                br.contacts-title__br
                |Touch.
