section.portfolio.portfolio_nature
    .portfolio-wrapper.portfolio-wrapper_nature
        .portfolio-title.portfolio-title_nature
            h2.portfolio-title__header                 
                a(href="nature.html").portfolio-link Nature.  
                    span.leaf 
                    span.leaf.leaf_second
section.portfolio.portfolio_insects
    .portfolio-wrapper.portfolio-wrapper
        .portfolio-title.portfolio-title
            h2.portfolio-title__header.portfolio-title__header_insects 
                a(href="").portfolio-link Insects. 
                    .bee
                        .bee-body
                            .line
                            .wing-right
                            .wing-left                   
section.portfolio.portfolio_flowers
    .portfolio-wrapper.portfolio-wrapper
        .portfolio-title.portfolio-title
            h2.portfolio-title__header.portfolio-title__header_flowers 
                a(href="").portfolio-link Flowers.  
                    .flower
                        svg(version='1.0' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 2600.000000 2600.000000' preserveaspectratio='xMidYMid meet')
                            metadata
                            g(transform='translate(0.000000,2600.000000) scale(0.100000,-0.100000)' stroke='none')
                                path.petal-one(d='M14259 20543 c-183 -277 -410 -566 -969 -1238 -798 -958 -1161 -1438\
                                -1520 -2010 -775 -1233 -1181 -2440 -1270 -3775 -13 -200 -13 -843 0 -1092\
                                128 -2389 949 -3816 2631 -4574 283 -127 685 -269 1031 -364 l188 -51 202 56\
                                c687 192 1233 428 1683 728 1210 806 1823 2089 1955 4097 18 275 24 853 11\
                                1095 -78 1461 -522 2748 -1413 4092 -347 524 -640 905 -1350 1760 -598 718\
                                -820 1001 -995 1268 -48 73 -91 134 -94 134 -3 1 -43 -56 -90 -126z')
                                path.petal-two(d='M10506 19784 c-57 -286 -168 -661 -407 -1369 -294 -876 -406 -1224\
                                -510 -1589 -596 -2093 -568 -3774 93 -5490 148 -386 342 -816 511 -1134 91\
                                -171 250 -449 266 -465 5 -5 -18 57 -50 138 -312 779 -477 1695 -509 2823 -37\
                                1320 163 2399 665 3582 76 181 312 658 420 850 295 525 678 1092 1098 1629 49\
                                62 85 117 80 121 -4 5 -154 90 -333 190 -579 324 -927 534 -1168 705 -73 52\
                                -135 95 -136 95 -2 0 -11 -39 -20 -86z')
                                path.petal-three(d='M18095 19818 c-299 -213 -673 -440 -1362 -822 l-212 -118 56 -72\
                                c108 -137 415 -551 513 -690 823 -1183 1320 -2295 1555 -3481 119 -601 162\
                                -1108 152 -1795 -12 -776 -76 -1373 -212 -1987 -77 -343 -198 -739 -309 -1007\
                                -25 -61 -44 -111 -42 -113 4 -5 172 287 264 461 237 443 503 1068 660 1546\
                                256 780 372 1511 372 2340 0 751 -95 1464 -306 2305 -123 492 -210 775 -539\
                                1760 -151 451 -301 912 -335 1025 -64 213 -153 560 -165 643 -4 26 -10 49 -14\
                                51 -3 2 -37 -18 -76 -46z')
                                path.petal-four(d='M6330 17657 c0 -3 13 -73 29 -154 66 -328 112 -707 181 -1468 105\
                                -1169 180 -1747 306 -2357 369 -1796 1106 -3162 2333 -4326 626 -594 1138\
                                -986 1715 -1312 147 -83 533 -271 506 -247 -3 3 -51 41 -108 86 -813 646\
                                -1483 1610 -2042 2943 -395 939 -590 1746 -661 2733 -16 216 -16 826 0 1055\
                                54 794 192 1542 446 2430 40 140 76 262 80 272 5 12 -1 18 -22 22 -49 10 -479\
                                53 -1048 106 -931 85 -1412 147 -1692 217 -13 3 -23 3 -23 0z')
                                path.petal-five(d='M22305 17649 c-291 -69 -745 -126 -1650 -209 -302 -28 -653 -62 -780\
                                -75 -126 -14 -239 -25 -250 -25 -49 -1 -49 -6 29 -276 251 -879 390 -1616 448\
                                -2374 17 -233 18 -1012 0 -1220 -91 -1070 -323 -1932 -809 -3000 -520 -1140\
                                -1166 -2024 -1905 -2605 -49 -37 -88 -70 -88 -71 0 -6 119 50 280 130 538 270\
                                1096 664 1670 1179 208 187 685 667 827 834 883 1031 1431 2166 1747 3618 141\
                                645 214 1188 326 2420 56 609 88 909 125 1168 25 168 80 471 91 502 7 17 -2\
                                17 -61 4z')
                        //.petal
                        //.petal
section.portfolio.portfolio_animals
    .portfolio-wrapper.portfolio-wrapper
        .portfolio-title.portfolio-title
            h2.portfolio-title__header.portfolio-title__header_animals 
                a(href="").portfolio-link Birds&Animals. 
                    .bird
                        svg.bird-svg( xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewBox='0 0 200 200', x='0px', y='0px')
                            path(d='M94.28,89.4c-.35,1.21-2.43,2-3.3.85C76.55,71,49,66.44,29.39,80.88c-.88.65-2.09-.45-1.17-1.18C47.8,64.2,75.33,66.41,91.72,85a50.6,50.6,0,0,1,56.37-32.6c2.51.44,1,3.94-1.26,3.58A46.58,46.58,0,0,0,94.28,89.4Zm64.56,22.35A30.78,30.78,0,0,0,132.64,135c-6.48-10.48-19.26-16.13-31.38-10.38a.39.39,0,0,0,.26.74c13.09-3.15,26.85,2.67,30.3,16.46.49,2,3.55,1.55,3.65-.43.72-13.78,10.34-24.38,24.07-26.16C161.94,115,161.3,111.43,158.84,111.75Z')

        