#p_prldr {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #89bfe7;
	z-index: 30;
	.svg_anm {
		position: absolute;
		width: 41px;
		height: 41px;
		background: url(../img/svg/pufff.svg) center center no-repeat;
		background-size: 41px;
		margin: -16px 0 0 -16px;
	}
}
.contpre {
	small {
		font-size: 25px;
	}
	width: 250px;
	height: 100px;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
	font-size: 40px;
	letter-spacing: -2px;
	text-align: center;
	line-height: 35px;
}
