#p_prldr {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: $lightblue;
	z-index: 30;
	.svg_anm {
		position: absolute;
		width: 250px;
		height: 250px;
		background: url(../img/svg/bird2.svg) center center no-repeat;
		background-size: 241px;
		margin: 0 auto;
		animation: opacity 2s linear infinite;
	}
}
.contpre {
	small {
		font-size: 25px;
	}
	width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 35px;
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}