footer.footer
    .footer-wrapper
        p.footer-wrapper__text Copyright by Valentina Laikovskaya
        p.footer-wrapper__text Inspired by Elementor
        p.footer-wrapper__text Your ad could be here