@font-face{
    font-display: block;
    font-family: 'storytella';
    src: url('../fonts/storytella.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'gilroy';
    src: url('../fonts/gilroy_extrabold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'lato';
    src: url('../fonts/lato_bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'opensans_light';
    src: url('../fonts/opensans_light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'opensans';
    src: url('../fonts/opensans.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'raleway_black';
    src: url('../fonts/raleway_black.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'raleway_bold';
    src: url('../fonts/raleway_bold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'raleway_regular';
    src: url('../fonts/raleway_regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-display: block;
    font-family: 'raleway_thin';
    src: url('../fonts/raleway_thin.ttf');
    font-weight: normal;
    font-style: normal;
}